.side-bar
  .header
    %h3.header__name
      Shun
      %ul.header__lists
        %li.list
          = link_to "#" do
            = icon('far', 'edit', class: "icon")
        %li.list
          = link_to "#" do
            = icon('fas', 'cog', class: "icon")
  .groups
    .group
      %p.group__name
        techcamp
      %p.group__message
        まだメッセージがありません

