.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  float: left;
  &__group-info {
    height: 100px;
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}